:root{
  //colors---------------
  --Kournikova:#F4D04E;
  --Black:#111111;
  --DimGray:#6B6B6B;
  --White:#ffffff;

  //breakpoints------------
  --mobileSize: 375px;
  --desktopSize: 1440px;

  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extera-bold:800;

  //  //font size-------------------
  --size-xxs: 8px;
  --size-xs: 10px;
  --size-xs-sm: 11px;
  --size-sm: 12px;
  --size-xm: 14px;
  --size-md: 16px;
  --size-xmd: 18px;
  --size-lg: 20px;
  --size-xlg: 24px;
  --size-xxlg: 26px;

  //font family---------------------
  --fontFamily: "Figtree", sans-serif;
}